.footer
    .container
        .row
            // BEGIN COPYRIGHT
            .col-md-4.col-sm-4.padding-top-10
                | 2015 © Keenthemes. ALL Rights Reserved.
                a(href='javascript:;') Privacy Policy
                | |
                a(href='javascript:;') Terms of Service
            // END COPYRIGHT
            // BEGIN PAYMENTS
            .col-md-4.col-sm-4
                ul.social-footer.list-unstyled.list-inline.pull-right
                    li
                        a(href='javascript:;')
                            i.fa.fa-facebook
                    li
                        a(href='javascript:;')
                            i.fa.fa-google-plus
                    li
                        a(href='javascript:;')
                            i.fa.fa-dribbble
                    li
                        a(href='javascript:;')
                            i.fa.fa-linkedin
                    li
                        a(href='javascript:;')
                            i.fa.fa-twitter
                    li
                        a(href='javascript:;')
                            i.fa.fa-skype
                    li
                        a(href='javascript:;')
                            i.fa.fa-github
                    li
                        a(href='javascript:;')
                            i.fa.fa-youtube
                    li
                        a(href='javascript:;')
                            i.fa.fa-dropbox
            // END PAYMENTS
            // BEGIN POWERED
            .col-md-4.col-sm-4.text-right
                p.powered
                    | Powered by:
                    a(href='http://www.keenthemes.com/') KeenThemes.com
            // END POWERED

