extends layout/layout

block content
  .main
    .container
      .row.recent-work.margin-bottom-40
        .col-md-3
          h2
            a(href='portfolio.html') Recent Works
          p
            | Lorem ipsum dolor sit amet, dolore eiusmod quis tempor incididunt ut et dolore Ut veniam unde voluptatem. Sed unde omnis iste natus error sit voluptatem.
        .col-md-9
          .owl-carousel.owl-carousel3
            .recent-work-item
              em
                img.img-responsive(src='/pages/img/works/img1.jpg', alt='Amazing Project')
                a(href='portfolio-item.html')
                  i.fa.fa-link
                a.fancybox-button(href='/pages/img/works/img1.jpg', title='Project Name #1', data-rel='fancybox-button')
                  i.fa.fa-search
              a.recent-work-description(href='javascript:;')
                strong Amazing Project
                b Agenda corp.
            .recent-work-item
              em
                img.img-responsive(src='/pages/img/works/img2.jpg', alt='Amazing Project')
                a(href='portfolio-item.html')
                  i.fa.fa-link
                a.fancybox-button(href='/pages/img/works/img2.jpg', title='Project Name #2', data-rel='fancybox-button')
                  i.fa.fa-search
              a.recent-work-description(href='javascript:;')
                strong Amazing Project
                b Agenda corp.
            .recent-work-item
              em
                img.img-responsive(src='/pages/img/works/img3.jpg', alt='Amazing Project')
                a(href='portfolio-item.html')
                  i.fa.fa-link
                a.fancybox-button(href='/pages/img/works/img3.jpg', title='Project Name #3', data-rel='fancybox-button')
                  i.fa.fa-search
              a.recent-work-description(href='javascript:;')
                strong Amazing Project
                b Agenda corp.
            .recent-work-item
              em
                img.img-responsive(src='/pages/img/works/img4.jpg', alt='Amazing Project')
                a(href='portfolio-item.html')
                  i.fa.fa-link
                a.fancybox-button(href='/pages/img/works/img4.jpg', title='Project Name #4', data-rel='fancybox-button')
                  i.fa.fa-search
              a.recent-work-description(href='javascript:;')
                strong Amazing Project
                b Agenda corp.
            .recent-work-item
              em
                img.img-responsive(src='/pages/img/works/img5.jpg', alt='Amazing Project')
                a(href='portfolio-item.html')
                  i.fa.fa-link
                a.fancybox-button(href='/pages/img/works/img5.jpg', title='Project Name #5', data-rel='fancybox-button')
                  i.fa.fa-search
              a.recent-work-description(href='javascript:;')
                strong Amazing Project
                b Agenda corp.
            .recent-work-item
              em
                img.img-responsive(src='/pages/img/works/img6.jpg', alt='Amazing Project')
                a(href='portfolio-item.html')
                  i.fa.fa-link
                a.fancybox-button(href='/pages/img/works/img6.jpg', title='Project Name #6', data-rel='fancybox-button')
                  i.fa.fa-search
              a.recent-work-description(href='javascript:;')
                strong Amazing Project
                b Agenda corp.
            .recent-work-item
              em
                img.img-responsive(src='/pages/img/works/img3.jpg', alt='Amazing Project')
                a(href='portfolio-item.html')
                  i.fa.fa-link
                a.fancybox-button(href='/pages/img/works/img3.jpg', title='Project Name #3', data-rel='fancybox-button')
                  i.fa.fa-search
              a.recent-work-description(href='javascript:;')
                strong Amazing Project
                b Agenda corp.
            .recent-work-item
              em
                img.img-responsive(src='/pages/img/works/img4.jpg', alt='Amazing Project')
                a(href='portfolio-item.html')
                  i.fa.fa-link
                a.fancybox-button(href='/pages/img/works/img4.jpg', title='Project Name #4', data-rel='fancybox-button')
                  i.fa.fa-search
              a.recent-work-description(href='javascript:;')
                strong Amazing Project
                b Agenda corp.