doctype html
html(lang='en')
  include ../includes/head.jade
  body.corporate
    include ../includes/header.jade
    block content
    block footer
      include ../includes/footer.jade
    include ../includes/foot.jade
